<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- End layout styles -->
    <!-- <link rel="shortcut icon" href="/assets/images/favicon.png" /> -->
  </head>
  <body>
    <div class="container-scroller">
      
      <%- include('./adminSidebar.ejs') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        
        <%- include('./adminTopbar.ejs') %>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add new Category</h4>
                  <form class="forms-sample" action="/admin/addCategory" method="post" id="addForm" enctype="multipart/form-data">
                    
                    <div class="form-group row">
                      <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Category</label>
                      <div class="col-sm-9">
                        <input type="text"  name="name" class="form-control"  placeholder="Category">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">Image</label>
                      <div class="col-sm-9">
                        <input type="file" name="image" class="form-control"  placeholder="Image">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">Description</label>
                      <div class="col-sm-9">
                        <input type="text" name="description" class="form-control"  placeholder="Description">
                      </div>
                    </div>
                   
                    <button type="submit" class="btn btn-primary mr-2">Add Category</button>
                    <a class="btn btn-secondary" href="/admin/categoryManage" style="text-decoration: none;color:black;align-self:center;">
                      Cancel
                    </a>
                    <p id="errMsg" style="color: red; text-align: center;margin-top: 10px;"></p>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <script>
    const form = document.getElementById('addForm');
    
    form.addEventListener('submit',async(e)=>{
    e.preventDefault();

    const name = document.getElementsByName('name')[0].value;
    const image = document.getElementsByName('image')[0].files[0];
    const description = document.getElementsByName('description')[0].value;
    
    const nameregex = /^[a-zA-Z0-9\s]{3,30}$/

    if(!nameregex.test(name)){
        alert('Category name must be atleast 3 characters long and valid')
        return;
    }

    if(description == ""){
        alert('Enter a valid description');
        return;
    }

    const formData = new FormData();
    formData.append('name', name);
    formData.append('image', image);
    formData.append('description', description);

    const response = await fetch('/admin/addCategory',{
      method:'POST',
      body:formData
    })

    const data = await response.json();

    if(response.ok){
      window.location.href = `/admin/categoryManage`
    }else{
      const errMsg = document.getElementById('errMsg')
      errMsg.textContent = data.msg;
    }
  })
  </script>
    <!-- plugins:js -->
    <script src="/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="/assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/assets/js/off-canvas.js"></script>
    <script src="/assets/js/hoverable-collapse.js"></script>
    <script src="/assets/js/misc.js"></script>
    <script src="/assets/js/settings.js"></script>
    <script src="/assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>