<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Usecart</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">  

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

    <style>
        *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      .container {
        height: 70vh;
        margin: 0 auto;
        position: relative;
        background-color: transparent;
        /* background-color: #FFD333; */
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .container .form-1 {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        width: 40%;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3);
        padding-left: 5%;
        padding-right: 5%;
      }

      .form-1 h1 {
        color: #6c757d;
        text-align: center;
        margin-top: 0.7rem;
        margin-bottom: 1.5rem;
      }

      .form-1 input[type="text"],
      input[type="number"],
      input[type="password"] {
        border: none;
        outline: none;
        border-bottom: 1px solid;
        background: none;
        /* margin: 0.9rem 2rem; */
        font-size: 1rem;
      }

      .form-1 label {
        margin: 0 2rem;
      }

      .form-1 span {
        margin: 0 2rem;
        color: blue;
        cursor: pointer;
      }

      .form-1 button {
        margin-top: 2rem;
        margin-bottom: 1.5rem;
        /* margin-left: 35%;
        margin-right: 35%; */
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 1rem;
        border: none;
        font-size: 1.1rem;
        font-weight: bolder;
        color: #6c757d;
        background-color: #FFD333;
      }

      .lbtgrp{
        display: flex;
        justify-content: space-around;
      }

      .lbt {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 0.5rem;
        text-align: center;
        border-radius: 1rem;
        border: none;
        cursor: pointer;
        font-size: 0.8rem;
        font-weight: bolder;
        color: #6c757d;
      }

/* ........///Sign-Up///......... */

    .form-1 p {
        text-align: center;
        font-weight: bolder;
      }

/* ....///Media query///..... */

      @media (max-width: 501px) {
        
        
        .container .form-1 {
            font-size: 15px;
          width: 300px;
        }
      }

      @media (min-width: 380px) and (max-width: 501px) {
        
        
        .container .form-1 {
            font-size: 15px;
          margin-top: -100px;
          width: 300px;
        }
      }

      @media (min-width: 501px) and (max-width: 768px) {
        
        
        .container .form-1 {
            font-size: 14px;
          width: 450px;
        }
      }

      @media (min-width: 765px) and (max-width: 1200px) {
        
        
        .container .form-1 {
          font-size: 18px;
          margin-top: -100px;
          width: 540px;
          height: 550px;
        }
      }

      @media (orientation: landscape) and (max-height: 500px) {
        .container {
          height: 100vmax;
        }
      }
    </style>

    <%- include('../partials/user-header') %>
   

    <div class="container">
      <div class="row px-xl-5">
          <div class="col-lg-12 h-auto mb-30">
            <div class="form-1">
              <h1>OTP Login</h1>
              <form class="login-form" action="/sendSms" method="post" id="otpForm">
                <input type="number" name="mobile" class="form-control" id="phoneNumberInput" placeholder="Enter Mobile Number"/>
                <button type="submit" class="btn btn-primary btn-block mb-4">Request OTP</button>
              </form>
          
              <form class="login-form" action="/smsVerify" method="post" id="otpVerifyForm">
                  <input type="text" name="otp" class="form-control" placeholder="Enter OTP"/>
                  <button type="submit" class="btn btn-primary btn-block mb-4">Verify OTP</button>
              </form>
              <p id="notification"></p>
            </div>
        
          </div>
      </div>
  </div>


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <script>
      const form = document.getElementById('otpForm');
      const verifyForm = document.getElementById('otpVerifyForm');
      const notifyElement = document.getElementById('notification');

      form.addEventListener('submit',async(e)=>{
        event.preventDefault();

        const mobile = $('#phoneNumberInput').val();

        $.post('/sendSms', { mobile })
          .done(() => {
            notifyElement.textContent = 'OTP sent successfully';

          })
          .fail((error) => {
            console.error('Error sending OTP:', error);
            notifyElement.textContent = 'Error sending OTP';
          });
      })

      verifyForm.addEventListener('submit',async(e)=>{
          e.preventDefault();
          const otp = document.getElementsByName('otp')[0].value;
          const mobile = document.getElementsByName('mobile')[0].value;

          const response = await fetch('/smsVerify',{
              method:'post',
              headers:{
                  'Content-Type':'application/json'
              },
              body:JSON.stringify({otp,mobile})
          })

          const data = await response.json();
          if(response.ok){
              window.location.href = '/'
          }
          else{
              notifyElement.textContent = data.msg;
         }
      })
  
        
  </script>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>