<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MultiShop - Online Shop Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">  

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

    <style>
        *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      .container {
        height: 80vh;
        margin: 0 auto;
        position: relative;
        background-color: transparent;
        /* background-color: #FFD333; */
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .container .form-1 {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        width: 60%;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3);
        padding-left: 5%;
        padding-right: 5%;
      }

      .form-1 h1 {
        color: #6c757d;
        text-align: center;
        margin-top: 0.7rem;
        margin-bottom: 1.5rem;
      }

      .form-1 input[type="text"],
      input[type="number"],
      input[type="password"] {
        border: none;
        outline: none;
        border-bottom: 1px solid;
        background: none;
        margin: 0.9rem 1rem;
        font-size: 1rem;
      }

      .form-1 label {
        margin: 0 2rem;
      }

      .form-1 span {
        margin: 0 2rem;
        color: blue;
        cursor: pointer;
      }

      .form-1 button {
        margin-top: 2rem;
        margin-bottom: 1.5rem;
        margin-left: 35%;
        margin-right: 35%;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 1rem;
        border: none;
        font-size: 1.1rem;
        font-weight: bolder;
        color: #6c757d;
        background-color: #FFD333;
      }

      .lbtgrp{
        display: flex;
        justify-content: space-around;
      }

      .lbt {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 0.5rem;
        text-align: center;
        border-radius: 1rem;
        border: none;
        cursor: pointer;
        font-size: 0.8rem;
        font-weight: bolder;
        color: #6c757d;
      }

    .rower{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    
    .subrower{
      display: flex;
      flex-direction: column;
    }
    .form-1 p {
        text-align: center;
        font-weight: bolder;
      }

/* ....///Media query///..... */

      @media (max-width: 501px) {
        .container{
          height: 125vh;
        }
        .container .form-1 {
            font-size: 15px;
            width: 300px;
        }

        .rower{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }
      }

      @media (min-width: 370px) and (max-width: 501px) {
        
        
        .container .form-1 {
            font-size: 15px;
            margin-top: -110px;
          width: 300px;
        }
      }

      @media (min-width: 501px) and (max-width: 768px) {
        .container{
          height: 90vh;
          
        }
        
        .container .form-1 {
            font-size: 14px;
          width: 450px;
        }
      }

      @media (min-width: 765px) and (max-width: 1200px) {
        
        
        .container .form-1 {
          font-size: 18px;
          margin-top: -180px;
          width: 540px;
          height: 550px;
        }
      }

      @media (orientation: landscape) and (max-height: 500px) {
        .container {
          height: 100vmax;
        }
      }
    </style>

    <%if(userPresent){%>
        <%- include('../partials/user-header') %>
    <%}else{%>
        <%- include('../partials/noUser-header') %>
    <%}%>


    <div class="container">
        <div class="row px-xl-5">
            <div class="col-lg-12 h-auto mb-30">
              <form class="form-1" action="/register" method="post" id="regForm">
                <h1>Registration</h1>
                <div class="rower">
                  <div class="subrower">
                    <label for="uname">Username</label>
                    <input type="text" name="username" id="uname" />
                  </div>
                </div>
                <div class="rower">
                  <div class="subrower">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" />
                  </div>
                  <div class="subrower">
                    <label for="mobile">Mobile</label>
                    <input type="number" name="mobile" id="mobile" />
                  </div>
                </div>
                <div class="rower">
                  <div class="subrower">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password"  />

                  </div>
                  <div class="subrower">
                    <label for="repassword">Re-enter Password</label>
                    <input type="password" name="rePassword" id="repassword"  />

                  </div>

                </div>
                <button type="submit">Register</button>
        
                <p style="color:red" id="errMsg"></p>
          
              <a href="/login" class="rbt" style="text-decoration: none;text-align: center;color: #6c757d;">
                Already have an Account</a>
          
              </form>
            </div>
        </div>
    </div>


    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <script>
      const form = document.getElementById('regForm');

      form.addEventListener('submit',(e)=>{
          e.preventDefault();

          const username = document.getElementsByName('username')[0].value;
          const email = document.getElementsByName('email')[0].value;
          const mobile = document.getElementsByName('mobile')[0].value;
          const password = document.getElementsByName('password')[0].value;
          const rePassword = document.getElementsByName('rePassword')[0].value;

          const usernameRegex = /^[a-zA-Z0-9]{3,20}$/ ;
          const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d@$!%*?&]{8,20}$/
          const emailRegex = /^\S+@\S+\.\S+$/;
          const mobileRegex = /^\d{10}$/;
          const errMsg = document.getElementById('errMsg');

          if(!usernameRegex.test(username)){
              errMsg.textContent = 'Username must be atleast 4 characters long'
              // alert('Username must be atleast 4 characters long')
              return;
          }

          if(!emailRegex.test(email)){
              errMsg.textContent = 'Invalid Email address';
              // alert('Invalid Email address');
              return;
          }

          if(!mobileRegex.test(mobile)){
              errMsg.textContent = 'Please enter valid mobile number'
              // alert('Please enter valid mobile number')
              return;
          }

          if(!passwordRegex.test(password)){
              errMsg.textContent = 'Password not valid'
              // alert('Password not valid')
              return;
          }

          if(password !== rePassword){
              errMsg.textContent = "Passwords do not match"
              // alert("Passwords do not match");
              return;
          }

          form.submit();
      })
  </script>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>